doctype html
html
    head
        style.
            .wrapper {
                text-align: center;
                background-color: #FDFDFD;
                height: 100%;
            }

            .content {
                width: 80%;
                margin: 0 auto;
            }

            h1 {
                font-size: 35px;
                font-weight: bold;
                color: #000;
            }

            h2 {
                font-weight: bold;
                color: #000;
            }

            h3 {
                font-size: 25px;
                font-weight: bold;
                color: #4ab63d;
            }

            p {
                margin: 0 auto 40px auto;
                font-size: 24px;
                color: #000;
                line-height: 25px;
                opacity: 0.8;
                text-align: left;
            }
    body
        div.wrapper
            div.content
                h1 Forgot password 
                p Hi,#{name}, You or someone else requested a password reset for your #{email} account at the buyall online supermarket.
                h2 Your code:
                h3 #{key}